body,html{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    }
    
    *{
    margin: 0;
    }
        
    .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "leftside main main main rightside"
    "leftside content1 content2 content3 rightside"
    "leftside content4 content5 content6 rightside"
    "footer footer footer footer footer";
    
    
    height: 100vh;
    gap: 5px;
    }
    
    
    
    .header{
    grid-area: header;
    background-color: #1449dc;
    display: grid;
    grid-template-columns: repeat( 7,auto);
    grid-auto-flow: column;
    place-items: center;
    }
    
        
    #navlinks{
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    padding: 1rem;
    transition: 0.5s;
    letter-spacing: 3px;
    }
    

    

    
    .logo{
    margin: auto;
    }
    
    
            
    .logo img{
    height: 30px;
    cursor: pointer;
    }
    
    
    .main{
    grid-area: main;
    background: url(./img/home-brand.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    }


    
    .main-hero{
    margin: auto;
    color: #fff;
    text-align: center;
    transform: translateY(32px);
    }
    
    .main-hero p{
    font-size: 34px;
    }
         
    
    
    
    .leftside{
    grid-area: leftside;
    transform: translateY(28px);
    margin: auto;
    }
    
    .small-leftside{
    display: flex;
    margin: auto;
    gap: 5rem;
    }
    
    
    .rightside{
    grid-area: rightside;
    margin: auto;
    transform: translateY(28px);}
    
    .small-rightside{
    display: flex;
    margin: auto;
    gap: 5rem;
    }
    
    
    .content1{
    grid-area: content1;
    margin: auto;
    }
    
    
    
    
    
    .card{
        display: grid;
    width: 350px;
    padding: 1em 0;
    margin: 0.3em 0;
    grid-template-rows: auto;

    }
    
    .card img{
    width: 100%;
    height: 240px;
    }
    
    
    .card-authblock{
    display: flex;
    place-content: center;
    place-items: center;
    margin: 1rem 0;
    }
    
    
    .card-date{
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
    border-right:solid 1px ;
    }
    
    .card-author{
    padding-left: 10px;
    text-align: center;
    color: #ff0000;
    }
    
    
    
    .card-title{
    padding: 0.5rem;
    text-align: center;
    }
    
    .card-title h1{
    font-weight: 100;
    letter-spacing: 3px;
    }
    
    
    
    .card-content{
    padding: 1rem;
    text-align: center;
    line-height: 25px;
    }
    
    .card-content img{
    object-fit: cover;
    width: 100%;
    }
    
    .card-btn{
    display: grid;
    margin: 1rem auto;
    width: 30%;
    border: 0;
    border-radius: 5px;
    background-color: #1449dc;
    padding: 0.5rem;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    }
        
    
    
    .content2{
    grid-area: content2;
    margin: auto;
    }
    .content3{
    grid-area: content3;
    margin: auto;
    }
    .content4{
    grid-area: content4;
    margin: auto;
    }
    .content5{
    grid-area: content5;
    margin: auto;
    }
    .content6{
    grid-area: content6;
    margin: auto;
    }
    .footer{
    grid-area: footer;
    padding: 3px;
    background: #1449dc;
    text-align: center;}
    
    /*suport itruth news box starts here*/
    
    
    
    .support-itruth-box{
    border-bottom: solid 1px #fff;}
    
    .support-headline{
    font-size: 30px;
    color: #fff;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    }
    
    .support-subtitle{
    margin-bottom: 2rem;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    }
    
    .support-flex-box{
    
    margin-bottom: 2rem;
    }
    
    .support-flex-box button{
    border: 0;
    border-radius: 20px;
    background-color: #0d6efd;
    text-transform: capitalize;
    letter-spacing: 4px;
    line-height: 44px;
    font-size: 22px;
    letter-spacing: 3px;
    color: #fff;
    cursor: pointer;}
            
    
    
    
    
    
    .hero-text{
    color: #fff;
    margin: auto;
    float: left;
    font-size: 24px;
    letter-spacing: 1px;
    }
    
    
    .hero-form{
    margin:auto;
    width: 50%;
    margin-bottom: 1rem;
    
    }
    
    .hero-form input:focus{
    background-color: #fff;
    }
    
    
    
    .hero-form input{
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    min-height: 70px;
    outline: none;
    padding: 0 20px;
    background-color: #e7e6e3;
    transition: 1s;
    }
    
    .input-box{
    display: flex;
    }
    
    
    
    .input-box span{
    display: flex;
    transform: translateX(-60px);
    }
    
    .search-btn{
    border: none;
    background: transparent;
    padding: unset;
    cursor: pointer;
    }
    
    .input-box img{
    height: 30px;
    }
        
    
    @media(max-width:768px){
        .input-box img{
            transform: translateY(0);
        }
    }
    
    /*suport itruth news box stops here*/
    
    
    
    
    
    .flex-footer{
    display: flex;
    place-content: center;
    }
    
    .footer-tablebox{
    width: 100%;
    border-right: solid 1px #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    
    
    }
    .footer-headline{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    }
    .footer-navlink{
    margin: auto;
    padding: 0;
    }
    .footer-navlink li{
    list-style-type: none;
    }
    .footer-navlink a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    }
    
    .footer-seperator{
    margin: 20px 0;
    }
    
    .footer-logo-box{
    margin: auto;
    
    }
    
    .logo-footer img{
    height:36px;
    cursor: pointer
    }
    
    
    
    /*@media starts here*/
    
    
    
    @media(min-width: 1750px){
    .small-leftside{
    display: none;
    }
    .small-rightside{
    display: none;
    }
    .content01{
    display: none;
    }
    .content02{
    display: none;
    }
    
    
    }
    
    @media(max-width:1750px){
    .content01{
    display: flex;
    gap: 5rem;
    margin: auto;
    }
    
    .content02{
    display: flex;
    gap: 5rem;
    margin: auto;
    }
    
    }
    
    
    @media(max-width:1260px){
    .small-leftside{
    flex-direction: column;
    }
    .small-rightside{
    flex-direction: column;
    }
    
    .content01{
    flex-direction: column;
    }
    .content02{
    flex-direction: column;
    }
    
    }
        
    
    @media(max-width:1750px){
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "leftside"
    "rightside"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "content6"
    "footer";
    }
    
    .leftside{
    display: none;
    }
    
    .rightside{
    display: none;
    }
    
    
    
    .content1{
        display: none;
      
    }
    .content2{
        display: none;
      
    }
    
    .content3{
        display: none;
    }
    .content4{
        display: none;
    }
    .content5{
        display: none;
    }
    .content6{
        display: none;
    }
    
    
    .subbtn{
    margin: auto;
    place-content: center;
    }
    
    
        
}


  
      
    
    @media(min-width:768px){
    .navbar{
    display: none;
    }
    
    
    }
    
    @media(max-width:768px){
    .header{
    display: none;
    
    }
    
    .navbar{
    display: flex;
    background-color: #1449dc;
    flex-direction: column;
    width: 100%;
    }
        
        
        
            
    .navlinks{
    margin: 7px auto;
    padding: 0;
    }
    
    .navlinks li {
    display: inline-block;
    list-style-type: none;
    }
    
    .navlinks a {
    
    margin: 0px 14px;
    text-decoration: none;
    color: #fff;
    font-size: small;
    } 
    
    .navlinks1{
    margin: auto;
    padding: 0;
    }
    
    .navlinks1 li {
    display: inline-block;
    list-style-type: none;
    }
    
    .navlinks1 a {
    
    margin: 0px 14px;
    text-decoration: none;
    color: #fff;
    } 
    
    .subbtn{
    display: none;
    }
    
    #navlinks{
    font-size: 24px;
    }
    .flex-footer{
    flex-direction: column;
    }
    .support-flex-box{
    flex-direction: column;
    }
    
    .support-flex-box button{
    margin-bottom: 1rem;
    }
    
    .hero-form{
    width: 100% !important;
    transform: translateX(20px);
    }
    
    .hero-form input{
    width:100% !important;
    margin: auto;
    }
    
    .hero-text{
    font-size: 20px;
    }
                
                
                    
                
                
    .footer-tablebox{
    border: none;
    border-bottom: solid 1px #fff;
    margin-bottom: 1em;
    }
    
    #spe-foot{
    border: none !important;
    }
                    
       
    }

    @media(max-width:1000px){
        .main{
            height: 500px;
        }
    }
    
    @media(max-width:650px){
        .main{
            height: 450px;
        }
    }
    
    @media(max-width:500px){
        .main{
            height: 250px;
        }
    }
    
    @media(max-width:415px){
    .main {
    height: 124px !important;
    margin: auto;
    width: 70%;
    }
    .navlinks1 a {
    font-size: small;
    margin: 0px 14px;
    text-decoration: none;
    color: #fff;
    } 
            
    
    .subbtn{
    font-size: 26px;
    }
    
    .main-hero p{
    font-size: 26px;
    }

    .logo img{
        transform: translateY(5px);
    }

    .logo-footer img{
        height:  20px !important;

    }
    }